---
import BaseLayout from "../layouts/BaseLayout.astro";
import ConsultPage from "./reactPages/Consult.jsx";
---

<BaseLayout title='consult counsellor'>
    <div class="relative flex border-t-4 min-h-[calc(100vh-5rem)]">
        <div class="grow flex-col items-center justify-center px-2">
            <ConsultPage client:load/>      
        </div>
    </div>
</BaseLayout>