---
import BaseLayout from "../layouts/BaseLayout.astro";
import ConsultPage from "../reactPages/Consult.jsx";
import { getFirestore } from 'firebase-admin/firestore';
import { app } from '../firebase/server';

const { searchParams } = Astro.url;
const requestId = searchParams.get('requestId');

// Verify if requestId exists
let requestExists = false;
const db = getFirestore(app);

if (requestId) {
  try {
    const requestDoc = await db.collection('requests').doc(requestId).get();
    requestExists = requestDoc.exists;
  } catch (error) { 
    console.error('Error checking requestId:', error);
  }
}
---

<BaseLayout title='consult counsellor'>
    <div class="relative flex border-t-4 min-h-[calc(100vh-5rem)]">
        <div class="grow flex-col items-center justify-center px-2">
            {requestExists ? (
                <ConsultPage client:load requestId={requestId}/>
            ) : (
                <p class="text-center mt-10">Invalid Request ID. Please check your link and try again.</p>
            )}     
        </div>
    </div>
</BaseLayout>