---
import DashboardSidebar from "../components/DashboardSidebar.astro";
import Modal from "../components/Modal.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const data = Astro.locals;

if (!data.user) {
  return Astro.redirect("/login");
}
---

<BaseLayout title='dashboard'>
    <div class="relative flex border-t-4 min-h-[calc(100vh-5rem)]">
        <DashboardSidebar/>
        <div class="grow flex items-center px-2">
            <div class="w-full max-w-[500px] mx-auto rounded-md py-14 bg-[#00A891] text-white">
                <div class="text-center justify-self-center">
                    <img class="mx-auto bg-white rounded-full w-20" src="https://avatar.iran.liara.run/public/job/doctor/male" alt="">
                    <p class="my-4 text-sm font-medium">consult a counsellor</p>
                    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="rounded-md bg-white py-2 px-9 text-black">consult now</button>
                </div>
            </div>
        </div>
    </div>
    <Modal/>
</BaseLayout>
