---
import Layout from "../layouts/Layout.astro";
---

<Layout title="login">
  <main class="md:flex md:h-[calc(100vh-3rem)]">
    <section
      class="hidden w-2/5 h-full text-white register-img md:block bg-gray-600"
    >
      <div class="mt-[6rem] w-[80%] mx-auto">
        <h2 class="mb-8 text-4xl font-railway">
          Gain access to professional counselors and mental therapists
        </h2>
        <ul class="mb-9">
          <li class="flex mb-3 gap-x-2 font-inter">
            <img src="/src/assets/check-icon.svg" alt="" />
            premium e-medical tools
          </li>
          <li class="flex mb-3 gap-x-2 font-inter">
            <img src="/src/assets/check-icon.svg" alt="" />
            advanced payment schedules
          </li>
        </ul>
      </div>
    </section>

    <section class="grow flex justify-center items-center">
        <div class="w-full max-w-[600px] bg-green-300 h-60">

        </div>
    </section>
  </main>
</Layout>
