---
import FormLayout from "../layouts/FormLayout.astro";
import LoginForm from "../reactPages/LoginForm";

const data = Astro.locals;
if (data.user) {
      return Astro.redirect("/dashboard");
}
console.log(data.user);

---

<FormLayout title="login">
  <h3 class="font-raleway font-semibold text-2xl sm:text-3xl text-center md:text-[2rem] opacity-90 mb-1">Student Login</h3>
  <LoginForm  client:load submitBtnText="login as a student" />
  <div class="mt-10">
    <a class="block text-center text-grey-5" href="/register/">Don't have an account? Register</a>
    <a class="block text-center text-grey-5" href="">Forgot password?</a>
  </div>
</FormLayout>
