---
import FormLayout from "../layouts/FormLayout.astro";
let title = 'login';
---

<FormLayout title="login">
  <h3 class="font-raleway font-semibold text-2xl sm:text-3xl text-center md:text-[2rem] opacity-90 mb-1">Student Login</h3>
  <form class="mt-4" action="">
    <input class="w-full rounded-md h-11 bg-grey-2 mt-5" name="email" type="email" placeholder="Uniport Email address ">
    <input class="w-full rounded-md h-11 bg-grey-2 mt-5" name="password" type="password" placeholder="Password (student mat. no.)">

    <button class="w-full md:w-[min(24.7rem, 100%)] mt-9 rounded-md bg-primary-dark text-white py-2" type="submit">Login as a patient</button>
  </form>
  <div class="mt-10">
    <a class="block text-center text-grey-5" href="/register/">Don't have an account? Register</a>
    <a class="block text-center text-grey-5" href="">Forgot password?</a>
  </div>
</FormLayout>
