* {
    font-family: sans-serif;
}

h1,
h4 {
    text-align: center;
}

#local-video,
#remote-video {
    width: 400px;
    height: 300px;
    border: 1px solid #dfdfdf;
}

#local-video {
    position: relative;
    margin: 0 auto;
    display: block;
}

#remote-video {
    display: flex;
    margin: auto;
    position: relative !important;
}